In [9]:
import pandas as pd
import numpy

In [10]:
data = pd.read_csv("./test_point_26.csv")

In [11]:
data['Test_point'] = '26'

In [12]:
data.to_csv('./test_point_26.csv',index=False)

In [19]:
import pandas as pd
 
df1 = pd.read_csv("./test_point_1.csv")#读取第一个文件
 
df2 = pd.read_csv("./test_point_2.csv")#读取第二个文件
 
df3 = pd.read_csv("./test_point_3.csv")#读取第三个文件
df4 = pd.read_csv("./test_point_4.csv") 
df5 = pd.read_csv("./test_point_5.csv")    
df6 = pd.read_csv("./test_point_6.csv")    
df7 = pd.read_csv("./test_point_7.csv")        
df8 = pd.read_csv("./test_point_8.csv")    
df10 = pd.read_csv("./test_point_10.csv")    
df11 = pd.read_csv("./test_point_11.csv")   
df12 = pd.read_csv("./test_point_12.csv")    
df13 = pd.read_csv("./test_point_13.csv")    
df14 = pd.read_csv("./test_point_14.csv") 
df15 = pd.read_csv("./test_point_15.csv")    
df16 = pd.read_csv("./test_point_16.csv") 
df17 = pd.read_csv("./test_point_17.csv") 
df18 = pd.read_csv("./test_point_18.csv") 
df19 = pd.read_csv("./test_point_19.csv") 
df20 = pd.read_csv("./test_point_20.csv") 
df21 = pd.read_csv("./test_point_21.csv") 
df22 = pd.read_csv("./test_point_22.csv") 
df23 = pd.read_csv("./test_point_23.csv") 
df24 = pd.read_csv("./test_point_24.csv") 
df25 = pd.read_csv("./test_point_25.csv") 
df26 = pd.read_csv("./test_point_26.csv") 



file = [df1, df2, df3, df4, df5, df6, df7, df8, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26]


outfile = pd.concat(file)#竖着拼
 
outfile.to_csv("All_new.csv",index=False, sep=',')
 
print(outfile.shape)#查看文件大小

(26437, 14)

In [20]:
df = pd.read_csv("./All_new.csv")

In [3]:
df

,Unnamed: 0,Unnamed: 0.1,macAddress,locationCoordinate_x,locationCoordinate_y,confidenceFactor,maxDetectedRssi,CMX_lastSeen,Real_Time,RMSE,Test_point,Unnamed: 0.1.1,associated,locComputeType
0,0,0.0,f4:02:28:5a:28:63,17.737040,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:22:58,34.962825,1,NaN,NaN,NaN
1,1,1.0,f4:02:28:5a:28:63,17.737040,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:23:00,34.962825,1,NaN,NaN,NaN
2,2,2.0,f4:02:28:5a:28:63,17.737040,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:23:01,34.962825,1,NaN,NaN,NaN
3,3,3.0,f4:02:28:5a:28:63,17.737040,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:23:02,34.962825,1,NaN,NaN,NaN
4,4,4.0,f4:02:28:5a:28:63,17.737040,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:23:03,34.962825,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23073,1117,NaN,dc:a6:32:26:67:ab,25.519415,33.914830,48,-71,2022-07-14T16:59:15.871+0100,2022-07-14 17:01:34,79.836570,23,NaN,True,RSSI
23074,1118,NaN,dc:a6:32:26:67:ab,25.519415,33.914830,48,-71,2022-07-14T16:59:15.871+0100,2022-07-14 17:01:35,79.836570,23,NaN,True,RSSI
23075,1119,NaN,dc:a6:32:26:67:ab,25.519415,33.914830,48,-71,2022-07-14T16:59:15.871+0100,2022-07-14 17:01:36,79.836570,23,NaN,True,RSSI
23076,1120,NaN,dc:a6:32:26:67:ab,25.519415,33.914830,48,-71,2022-07-14T16:59:15.871+0100,2022-07-14 17:01:37,79.836570,23,NaN,True,RSSI
23077,1121,NaN,dc:a6:32:26:67:ab,25.519415,33.914830,48,-71,2022-07-14T16:59:15.871+0100,2022-07-14 17:01:39,79.836570,23,NaN,True,RSSI

In [22]:
df = df.drop(labels='Unnamed: 0.1', axis=1,index=None, columns=None,inplace=False)
df = df.drop(labels='Unnamed: 0.1.1', axis=1,index=None, columns=None,inplace=False)
df = df.drop(labels='Unnamed: 0', axis=1,index=None, columns=None,inplace=False)

In [21]:
df

,Unnamed: 0,Unnamed: 0.1,macAddress,locationCoordinate_x,locationCoordinate_y,confidenceFactor,maxDetectedRssi,CMX_lastSeen,Real_Time,RMSE,Test_point,Unnamed: 0.1.1,associated,locComputeType
0,0,0.0,f4:02:28:5a:28:63,17.737040,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:22:58,34.962825,1,NaN,NaN,NaN
1,1,1.0,f4:02:28:5a:28:63,17.737040,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:23:00,34.962825,1,NaN,NaN,NaN
2,2,2.0,f4:02:28:5a:28:63,17.737040,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:23:01,34.962825,1,NaN,NaN,NaN
3,3,3.0,f4:02:28:5a:28:63,17.737040,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:23:02,34.962825,1,NaN,NaN,NaN
4,4,4.0,f4:02:28:5a:28:63,17.737040,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:23:03,34.962825,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26432,1119,NaN,dc:a6:32:26:67:ab,76.375380,32.358505,96,-70,2022-07-20T13:26:23.875+0100,2022-07-20 13:26:24,45.954209,26,NaN,True,AOA
26433,1120,NaN,dc:a6:32:26:67:ab,62.394325,35.690730,80,-72,2022-07-20T13:26:25.874+0100,2022-07-20 13:26:25,60.112805,26,NaN,True,AOA
26434,1121,NaN,dc:a6:32:26:67:ab,62.394325,35.690730,80,-72,2022-07-20T13:26:25.874+0100,2022-07-20 13:26:26,60.112805,26,NaN,True,AOA
26435,1122,NaN,dc:a6:32:26:67:ab,59.751007,34.614685,88,-71,2022-07-20T13:26:27.960+0100,2022-07-20 13:26:27,62.190651,26,NaN,True,AOA
26436,1123,NaN,dc:a6:32:26:67:ab,59.751007,34.614685,88,-71,2022-07-20T13:26:27.960+0100,2022-07-20 13:26:29,62.190651,26,NaN,True,AOA

In [23]:
df.to_csv('./All_new.csv',index=False)

In [24]:
df

,macAddress,locationCoordinate_x,locationCoordinate_y,confidenceFactor,maxDetectedRssi,CMX_lastSeen,Real_Time,RMSE,Test_point,associated,locComputeType
0,f4:02:28:5a:28:63,17.737040,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:22:58,34.962825,1,NaN,NaN
1,f4:02:28:5a:28:63,17.737040,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:23:00,34.962825,1,NaN,NaN
2,f4:02:28:5a:28:63,17.737040,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:23:01,34.962825,1,NaN,NaN
3,f4:02:28:5a:28:63,17.737040,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:23:02,34.962825,1,NaN,NaN
4,f4:02:28:5a:28:63,17.737040,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:23:03,34.962825,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
26432,dc:a6:32:26:67:ab,76.375380,32.358505,96,-70,2022-07-20T13:26:23.875+0100,2022-07-20 13:26:24,45.954209,26,True,AOA
26433,dc:a6:32:26:67:ab,62.394325,35.690730,80,-72,2022-07-20T13:26:25.874+0100,2022-07-20 13:26:25,60.112805,26,True,AOA
26434,dc:a6:32:26:67:ab,62.394325,35.690730,80,-72,2022-07-20T13:26:25.874+0100,2022-07-20 13:26:26,60.112805,26,True,AOA
26435,dc:a6:32:26:67:ab,59.751007,34.614685,88,-71,2022-07-20T13:26:27.960+0100,2022-07-20 13:26:27,62.190651,26,True,AOA
26436,dc:a6:32:26:67:ab,59.751007,34.614685,88,-71,2022-07-20T13:26:27.960+0100,2022-07-20 13:26:29,62.190651,26,True,AOA