In [5]:
import pandas as pd
import numpy

In [6]:
data = pd.read_csv("./test_point_15.csv")

In [7]:
data['Test_point'] = '15'

In [8]:
data.to_csv('./test_point_15.csv')

In [19]:
import pandas as pd
 
df1 = pd.read_csv("./test_point_1.csv")#读取第一个文件
 
df2 = pd.read_csv("./test_point_2.csv")#读取第二个文件
 
df3 = pd.read_csv("./test_point_3.csv")#读取第三个文件
df4 = pd.read_csv("./test_point_4.csv") 
df5 = pd.read_csv("./test_point_5.csv")    
df6 = pd.read_csv("./test_point_6.csv")    
df7 = pd.read_csv("./test_point_7.csv")        
df8 = pd.read_csv("./test_point_8.csv")    
df10 = pd.read_csv("./test_point_10.csv")    
df11 = pd.read_csv("./test_point_11.csv")   
df12 = pd.read_csv("./test_point_12.csv")    
df13 = pd.read_csv("./test_point_13.csv")    
df14 = pd.read_csv("./test_point_14.csv") 
df15 = pd.read_csv("./test_point_15.csv")    


file = [df1, df2, df3, df4, df5, df6, df7, df8, df10, df11, df12, df13, df14, df15]
 

outfile = pd.concat(file)#竖着拼
 
outfile.to_csv("All.csv",index=0, sep=',')
 
print(outfile.shape)#查看文件大小

(14120, 12)

In [20]:
df = pd.read_csv("./All.csv")

In [21]:
df

,Unnamed: 0.1,Unnamed: 0,macAddress,locationCoordinate_x,locationCoordinate_y,confidenceFactor,maxDetectedRssi,CMX_lastSeen,Real_Time,RMSE,Test_point,Unnamed: 0.2
0,0,0,f4:02:28:5a:28:63,17.73704,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:22:58,34.962825,1,NaN
1,1,1,f4:02:28:5a:28:63,17.73704,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:23:00,34.962825,1,NaN
2,2,2,f4:02:28:5a:28:63,17.73704,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:23:01,34.962825,1,NaN
3,3,3,f4:02:28:5a:28:63,17.73704,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:23:02,34.962825,1,NaN
4,4,4,f4:02:28:5a:28:63,17.73704,34.657078,40,-59,2022-07-08T12:18:37.455+0100,2022-07-08 12:23:03,34.962825,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
14115,1083,1083,dc:a6:32:26:67:ab,66.00000,28.000002,80,-51,2022-07-11T16:35:28.438+0100,2022-07-11 16:35:28,1.794670,15,1083.0
14116,1084,1084,dc:a6:32:26:67:ab,66.00000,28.000002,80,-51,2022-07-11T16:35:28.438+0100,2022-07-11 16:35:29,1.794670,15,1084.0
14117,1085,1085,dc:a6:32:26:67:ab,66.00000,28.000002,80,-49,2022-07-11T16:35:30.478+0100,2022-07-11 16:35:30,1.794670,15,1085.0
14118,1086,1086,dc:a6:32:26:67:ab,66.00000,28.000002,80,-49,2022-07-11T16:35:30.478+0100,2022-07-11 16:35:31,1.794670,15,1086.0
14119,1087,1087,dc:a6:32:26:67:ab,66.00000,28.000002,80,-49,2022-07-11T16:35:32.479+0100,2022-07-11 16:35:32,1.794670,15,1087.0