In [1]:
import pandas as pd
import numpy

In [2]:
data = pd.read_csv("./data/test_point_15.csv")

In [3]:
data

,macAddress,locationCoordinate_x,locationCoordinate_y,confidenceFactor,maxDetectedRssi,CMX_lastSeen,Real_Time
0,f4:02:28:5a:28:63,46.556866,24.240190,48,-68,2022-07-11T16:14:53.447+0100,2022-07-11 16:15:32
1,f4:02:28:5a:28:63,46.556866,24.240190,48,-68,2022-07-11T16:14:53.447+0100,2022-07-11 16:15:33
2,f4:02:28:5a:28:63,46.556866,24.240190,48,-68,2022-07-11T16:14:53.447+0100,2022-07-11 16:15:34
3,f4:02:28:5a:28:63,46.556866,24.240190,48,-68,2022-07-11T16:14:53.447+0100,2022-07-11 16:15:36
4,f4:02:28:5a:28:63,46.556866,24.240190,48,-68,2022-07-11T16:14:53.447+0100,2022-07-11 16:15:37
...,...,...,...,...,...,...,...
1083,dc:a6:32:26:67:ab,66.000000,28.000002,80,-51,2022-07-11T16:35:28.438+0100,2022-07-11 16:35:28
1084,dc:a6:32:26:67:ab,66.000000,28.000002,80,-51,2022-07-11T16:35:28.438+0100,2022-07-11 16:35:29
1085,dc:a6:32:26:67:ab,66.000000,28.000002,80,-49,2022-07-11T16:35:30.478+0100,2022-07-11 16:35:30
1086,dc:a6:32:26:67:ab,66.000000,28.000002,80,-49,2022-07-11T16:35:30.478+0100,2022-07-11 16:35:31
1087,dc:a6:32:26:67:ab,66.000000,28.000002,80,-49,2022-07-11T16:35:32.479+0100,2022-07-11 16:35:32

In [4]:
x = 20*3.28084

In [5]:
y = 8*3.28084

In [6]:
data['RMSE'] = numpy.sqrt(numpy.square(data['locationCoordinate_x']-x)+numpy.square(data['locationCoordinate_y']-y))

In [7]:
data

,macAddress,locationCoordinate_x,locationCoordinate_y,confidenceFactor,maxDetectedRssi,CMX_lastSeen,Real_Time,RMSE
0,f4:02:28:5a:28:63,46.556866,24.240190,48,-68,2022-07-11T16:14:53.447+0100,2022-07-11 16:15:32,19.165261
1,f4:02:28:5a:28:63,46.556866,24.240190,48,-68,2022-07-11T16:14:53.447+0100,2022-07-11 16:15:33,19.165261
2,f4:02:28:5a:28:63,46.556866,24.240190,48,-68,2022-07-11T16:14:53.447+0100,2022-07-11 16:15:34,19.165261
3,f4:02:28:5a:28:63,46.556866,24.240190,48,-68,2022-07-11T16:14:53.447+0100,2022-07-11 16:15:36,19.165261
4,f4:02:28:5a:28:63,46.556866,24.240190,48,-68,2022-07-11T16:14:53.447+0100,2022-07-11 16:15:37,19.165261
...,...,...,...,...,...,...,...,...
1083,dc:a6:32:26:67:ab,66.000000,28.000002,80,-51,2022-07-11T16:35:28.438+0100,2022-07-11 16:35:28,1.794670
1084,dc:a6:32:26:67:ab,66.000000,28.000002,80,-51,2022-07-11T16:35:28.438+0100,2022-07-11 16:35:29,1.794670
1085,dc:a6:32:26:67:ab,66.000000,28.000002,80,-49,2022-07-11T16:35:30.478+0100,2022-07-11 16:35:30,1.794670
1086,dc:a6:32:26:67:ab,66.000000,28.000002,80,-49,2022-07-11T16:35:30.478+0100,2022-07-11 16:35:31,1.794670
1087,dc:a6:32:26:67:ab,66.000000,28.000002,80,-49,2022-07-11T16:35:32.479+0100,2022-07-11 16:35:32,1.794670

In [8]:
data.to_csv('./data_with_precision/test_point_15.csv')